{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fun Zone - MindEase</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo"><a href="{% url 'home' %}">MindEase</a></div>
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'cond' %}">Conditions</a></li>
          <li><a href="{% url 'psychoedu' %}">PsychoEducation</a></li>
          <li><a href="{% url 'appoi' %}">Appointment</a></li>
          <li><a href="{% url 'fun' %}">Fun Zone</a></li>
          <li>
            {% if user.is_authenticated %}
            <img
              src="{{ user.profile.image.url }}"
              alt="Profile Picture"
              width="30"
              height="30"
              style="border-radius: 50%"
            />
            <form
              method="post"
              action="{% url 'logout' %}"
              style="display: inline"
            >
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            |
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>

    <form method="post">
      {% csrf_token %}
      <h3>Login Here</h3>
      {% if form.errors %}
        <div class="error-message">
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {{ form.as_p }}
      
      <button type="submit">Login</button>

      <a href="{% url 'signup' %}">Don't have a account? Create Account</a>
    </form>

    <footer>
      <p>© 2025 MindEase | For Support, Call: 1800-123-HELP</p>
    </footer>
    <script src="https://cdn.botpress.cloud/webchat/v2.4/inject.js"></script>
    <script src="https://files.bpcontent.cloud/2025/04/24/05/20250424054554-VFKX9ELD.js"></script>
  </body>
</html>
