{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fun Zone - MindEase</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo"><a href="{% url 'home' %}">MindEase</a></div>
        <ul class="nav-links" id="nav-links">
          <li>
            <a href="{% url 'home' %}" >
              Home
            </a>
          </li>
          <li>
            <a href="{% url 'psychoedu' %}" >
              Psychoeducation
            </a>
          </li>
          <li>
            <a href="{% url 'appoi' %}" >
              Appointment
            </a>
          </li>
          <li>
            <a href="{% url 'fun' %}">
              Fun Zone
            </a>
          </li>
          <li>
            <a href="{% url 'resources' %}" >
              Resources
            </a>
          </li>
          <li>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" id="logout-button">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}" >Login</a>
            <a href="{% url 'signup' %}" class="{% if request.resolver_match.url_name == 'signup' %}active{% endif %}">Sign Up</a>
            {% endif %}
          </li>
        </ul>
        <div class="hamburger" id="hamburger">
          &#9776;
        </div>
      </nav>
    </header>
    
    <form method="post" class="l_and_s-form">
      <h3>Signup Here</h3>
      {% if form.errors %}
      <div class="error-messages">
        <ul>
          {% for field in form %} 
          {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
          {% endfor %} 
          {% endfor %} {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      
      {% csrf_token %}
      {{ form.as_p }}
      <div class="terms-container">
        <label>
          <input type="checkbox" name="agree_terms" required />
          I agree to the
          <a href="{% url 'terms' %}" target="_blank">Terms and Conditions</a>.
        </label>
      </div>
      <button type="submit">Sign Up</button>

      <a href="{% url 'login' %}" id="signup-login"
        >Already have an account? Login</a
      >
    </form>

    <footer>
      <p>© 2025 MindEase | For Support, Call: 1800-123-HELP</p>
    </footer>
    <script src="https://cdn.botpress.cloud/webchat/v2.4/inject.js"></script>
    <script src="https://files.bpcontent.cloud/2025/04/24/05/20250424054554-VFKX9ELD.js"></script>
    <script>
      const hamburger = document.getElementById("hamburger");
      const navLinks = document.getElementById("nav-links");

      hamburger.addEventListener("click", () => {
        navLinks.classList.toggle("active");
      });
    </script>
  </body>
</html>